---
import _ from "lodash";
import { remark } from "remark";
import remarkHtml from "remark-html";
import Layout from "../layouts/Layout.astro";

const response = await fetch("https://api.linear.app/graphql", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
		Authorization: `Bearer ${import.meta.env.KEY}`,
	},
	body: JSON.stringify({
		query: `
			query getIssues {
				issues(
					first: 100
					filter: {
						team: { name: { eq: "Landscape + Apps" } }
						state: { name: { in: ["Todo", "In Progress", "In Review"] }}
					}
				){
					nodes {
						id
						title
						description
						priorityLabel
						state {
							name
						}
					}
				}
			}
		`,
	}),
});

const { data } = await response.json();
const byStatus = _.groupBy(data.issues.nodes, "state.name");
const statuses = ["In Review", "In Progress", "Todo"];

async function remarkContent(content: string) {
	const file = await remark().use(remarkHtml).process(content);
	return String(file);
}
---

<Layout title="Landscape Dev Status">
	<main>
		<h1>Landscape dev status</h1>
		<p style="margin-bottom: 1rem;">
			These are issues the Landscape team is working on at Tlon, pulled directly
			from our issue tracker. Click any issue to see more details.
		</p>
		<p style="margin-bottom: 1rem;">
			If you're wondering about a specific issue, feel free to ask us on the
			network. We're reachable in the "Support" channel of <a
				href="https://tlon.network/lure/~nibset-napwyn/tlon">Tlon Local</a
			>.
		</p>
		<p>
			We also welcome bug reports on <a
				href="https://github.com/tloncorp/landscape-apps/issues/new">GitHub</a
			>.
		</p>
		{
			_.map(statuses, (status: string) => (
				<section>
					<h2>{status}</h2>
					{_.map(byStatus[status], (issue: any) => (
						<details>
							<summary>
								{issue.title} <small>({issue.priorityLabel})</small>
							</summary>
							<div set:html={remarkContent(issue.description)} />
						</details>
					))}
				</section>
			))
		}
	</main>
</Layout>
